<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <div class="fill" style="margin-bottom: 7%;">
            <div class="container-fluid">
                <div class="row" style="background-color: rgb(146, 146, 146);">
                    <div class="col-2 prueba">
                        <h3 style="color: white;">VitaQR</h3>
                    </div>
                    <div class="offset-5 col-4 cuotahead">
                        <h5 style="color: white;">Preocupandonos por la salud de los mexicanos</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="d-flex flex-column login-container" style="margin-bottom: 3%;">
        <div class="p-2 inic-s">Inicia sesión</div>
        <% if(typeof exito!='undefined' ) { %>
            <p>
                <%= exito.mensaje %>
            </p>
            <% } %>

                <div class="p-8">
                    <form method="POST" action="/users/login" id="formLogin">
                        <div class="p-4"><input class="form-control" name="usuario" type="text"
                                placeholder="Ingresa tu usuario" id="inputUser"></div>
                        <div class="p-4"><input class="form-control" name="contra" type="password"
                                placeholder="Ingresa tu contraseña" id="inputPass"></div>
                        <div class="p-2 boton-cont-login" style="margin-bottom: 10px;">
                            <!--<div class="errorMens"><p>Sus campos están vacios, favor de verificar</p></div>-->
                            <div class="auxVert">
                                <button type="submit" id="pruebaBtn" class="btn btn-outline-light btn-rounded"
                                    style="margin-left: 2%; background-color: blue;">
                                    Iniciar sesión
                                </button>
                            </div>
                        </div>
                        <%if(typeof mens!='undefined' ) { %>
                            <div class="errorMens" style="display: <%=mens.typee%>"> 
                                <p> 
                                    <%= mens.mensaje %>
                               </p> 
                            </div>
                        <%}%>
                    </form>
                </div>
                <div class="p-4 olvido">
                   <!--<a href="/users/recuperarContra" target="_blank">¿Olvidaste tu contraseña?</a>--> 
                </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
  
</body>

</html>